:root {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #E5E8E8;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 5vw;
}

.container h3 {
    font-family: "Courier New";
    color: #1A5276;
}

.container button {
    border-color: #D4E6F1;
    border-width: 5px;
    background-color: #1A5276;
    width: 54vw;
    height: 8vh;
    text-align: left;
    padding-left: 5vw;
    font-size: 1.2rem;
    color: #D4E6F1;
    margin-bottom: 1vh;
    margin-top: 2vh;   
    cursor: pointer; 
}


@media only screen and (max-width: 450px) {
    .container h1 {
        font-size: 1.7rem;
    }

    .container button {
        width: 100%;
        font-size: 1rem;
    }

    a .collapseBtn {
        height: 9vh;
    }
}