:root {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: #1F618D;
    width: 100vw;
    height: 8vh;
    align-items: center;
    color: white;
}

.item1, .item2, .item3, .item4, .item5, .item6 {
	height: 5vh;
	width: 12vw;
	text-align: center;
	padding-top: 2.5vh;
}

.item1 {
	background-color: #154360;
}

.item6 {
	color: #99A3A4;
}

.menu {
	display: none;
}

a {
	color: white;
	text-decoration: none;
}

ul {
	display: none;
	background-color: #D5DBDB;
	margin-top: 2vh;
	width: 15vw;
	height: 21vh;
	border-radius: 5px;
	list-style-type: none;
	padding: 0;
	z-index: 1;
}

li {
	color: black;
	padding-left: 1vw;
	padding-top: 2vh;
	height: 5vh;
	text-align: left;
	border-radius: 5px;
}

.item5:hover {
	background-color: #2980B9;	
}

.item5:hover ul {
	display: block;
}

.item5 li:hover {
	background-color: #515A5A;
	color: white;
}

input{
	border-radius: 5px;
	height: 4vh;
	width: 15vw;
	border-color: black;
	border-width: 1px;
	padding-left: 4px;
}

button {
	border-radius: 5px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	color: black;
	background-color: #A9CCE3;
	height: 4.5vh;
	width: 8vw;
}


@media only screen and (max-width: 600px) {
	.container {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.menu {
		display: block;
		float: right;
		height: 30px;
		margin-right: 20px;
	}

	.item1, .item2, .item3, .item4, .item6, .item7 {
		background-color: #1F618D;
		width: 95vw;
		padding: 2vh 0px 2vh 5vw;
		text-align: left;
	}

	.item1 {
		background-color: #154360;
	}

	.item5{
		height: 24vh;
		background-color: #1F618D;
		width: 100vw;
		padding: 2vh 0px;
		text-align: left;
	}

	.item5 span {
		padding-left: 5vw;
	}

	ul {
		width: 100%;
		border-radius: 0;
	}

	li {
		padding-left: 5vw;
	}

	input {
		width: 60vw;
	}

	button {
		width: 20vw;
	}

	.item2, .item3, .item4, .item5, .item6, .item7 {
		display: none;
	}	
}